.icon {
    height: 20px;
}
.search-input {
    border: none;
}
.search-input:focus {
    /* removing the input focus blue box. Put this on the form if you like. */
    outline: none;
}
.search-bar {
    /* This bit draws the box around it */
    border: 1px solid grey;

    /* I've used padding so you can see the edges of the elements. */
    padding: 2px;
    width: 230px;
}
.option {
    background-color: bisque;
    width: 230px;
    border: 1px solid rgb(181, 181, 181);

    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;

    overflow: auto;
    flex-direction: row;
}
